Source: aptosid-settings-kde
Section: graphics
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kelvmod@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Vcs-Git: https://github.com/fullstory/aptosid-settings-kde.git
Vcs-Browser: https://github.com/fullstory/aptosid-settings-kde

Package: aptosid-settings-kde
Depends: ${misc:Depends},
 aptosid-art-kde,
 aptosid-art-wallpaper,
 plasma-framework
Recommends: xdg-browser-launcher,
 sddm-theme-breeze
 ttf-dejavu
Architecture: all
Description: provide default KDE settings for aptosid
 Provides default settings for appearance and applications of the K Desktop
 Environment in aptosid.
 .
 This overrides KDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.
