Source: aptosid-settings-kde
Section: graphics
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Kel Modderman <kel@otaku42.de>,
 Joaquim Boura <x-un-i@berlios.de>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.5
Vcs-git: git://github.com/fullstory/aptosid-settings-kde.git
Vcs-Browser: https://github.com/fullstory/aptosid-settings-kde

Package: aptosid-settings-kde
Depends: ${misc:Depends},
 aptosid-art-kde,
 plasma-desktopthemes-artwork,
Recommends: xdg-browser-launcher,
 ttf-dejavu
Architecture: all
Description: provide default KDE settings for aptosid
 Provides default settings for appearance and applications of the K Desktop
 Environment in aptosid.
 .
 This overrides KDE's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.
